.container {
    width: 530px;
    width: 600px;
}

.deleteBtn {
    min-width: 0px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.itemsContainer {
    margin-bottom: 5px;
}

/* Settings Inputs */
.inputFeed {
    width: 100% !important;
    margin-left: 5px;
    margin-right: 5px;
    box-sizing: 300;
}

.feedTitleInput {
    width: 90px !important;
    min-width: 90px;
}

.valueFeedInput {
    width: 415px !important;
}

/* Image Inputs */
.imageUrlInput {
    margin-left: 5px;
    width: 415px !important;
}

.imageTitleInput {
    width: 90px !important;
    min-width: 90px;
}


.title {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.textDescription {
    margin-left: 5px;
}

/* Settings Container Headers */
.titleToggle {
    width: 12% !important;
}

.feedTitle {
    width: 95px !important;
}

.onToggle {
    width: 12% !important;
}

.titleLink {
    width: 345px !important;
}

/* Image Container Headers */
.titleLinkImage {
    width: 430px !important;
}

.feedTitleImage {
    width: 95px !important;
}

.onToggleImage {
    width: 12% !important;
}

.addBtn {
    min-width: 0px !important;
    width: 110px !important;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.saveBtn {
    min-width: 0px !important;
    width: 175px !important;
    margin-left: 5px;
    margin-top: 20px;
}
