.deleteBtn{
    min-width: 0px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.itemsContainer{
    margin-bottom: 5px;
}

.inputFeed{
    width: 100% !important;
    margin-left: 5px;
    box-sizing: 300;
    
}

.feedTitle{
    width: 90px !important;
    margin-left: 15px;
}

.feedTitleInput{
    width: 150px !important;
    margin-left: 5px;
}

.valueFeedInput{
    width: 100px !important;
    margin-left: 5px;
}

.title{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.textDescription{
    margin-left: 5px;
}

.titleLink{
    width: 55% !important;
}

.titleToggle{
    width: 12% !important;
}

.onToggle{
    width: 12% !important;
}

.addBtn{
    min-width: 0px !important;
    width: 110px !important;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.saveBtn{
    min-width: 0px !important;
    width: 175px !important;
    margin-left: 5px;
}